<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <div>
      <div class="card-header">
        <h1>Crear Nivel</h1>
        <hr>
        <div class="card-body">
          <form [formGroup]="rForm" (ngSubmit)="postNivel(rForm.value)">
            <div class="form-group">
              <label class="control-label col-sm-5" for="inputSigla">Sigla</label>
              <input type="text" class="form-control" placeholder="Ingrese sigla" formControlName="sigla">
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5" for="inputTipoNivel">Tipo de nivel </label>
              <select class="form-control" type="text" formControlName="tipo_nivel">
                <option value="Básica">Básica</option>
                <option value="Media">Media</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-5" for="inputGrado">Grado </label>
              <input type="number" class="form-control" placeholder="Ingrese grado" formControlName="grado">
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5" for="inputDescripcion">Descripción</label>
              <input type="text" class="form-control" placeholder="Añada una descripción" formControlName="descripcion">
            </div>
            <div class="form-group">
              <label class="control-label col-sm-5" for="inputDecreto">Decreto</label>
              <input type="text" class="form-control" placeholder="Indique el decreto del nivel" formControlName="decreto">
            </div>
            
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
</div>

