<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <div *ngIf="nivel">
      <div class="card-header">
        <h1>Modificar Nivel {{nivel.sigla}}</h1>
        <hr>
        <div class="card-body">
          <form [formGroup]="rForm" (ngSubmit)="updateNivel(rForm.value)">
            <div class="form-group">
              <label for="inputSigla">sigla</label>
              <input type="text" class="form-control" formControlName="sigla" [value]="nivel.sigla">
            </div>
            <div class="form-group">
              <label for="inputTipoNivel">Tipo Nivel </label>
              <input type="text" class="form-control" formControlName="tipo_nivel" [value]="nivel.tipo_nivel">
            </div>
            <div class="form-group">
              <label for="inputGrado">Grado</label>
              <input type="number" class="form-control" formControlName="grado" [value]="nivel.grado">
            </div>
            <div class="form-group">
              <label for="inputDescripcion">Descripción</label>
              <input type="text" class="form-control" formControlName="descripcion" [value]="nivel.descripcion">
            </div>
            <div class="form-group">
              <label for="inputDecreto">Decreto</label>
              <input type="text" class="form-control" formControlName="decreto" [value]="nivel.decreto">
            </div>
        
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <button type="submit" class="btn btn-primary" >Modificar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
</div>