<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Detalle Nivel </title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>
<div class="row">
    <div class="col-6 col-md-2"></div>
    <div class="col-6 col-md-8">


  <div class="card-header">
    <h3>Detalle nivel {{nivel.sigla}}</h3>
  </div>
  <div class="card-body">
    <table style= "width:100%">
      <thead>
        <tr>
          <th class="text-left">Atributo</th>
          <th class="text-left">Valor</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr>
          <td class="text-left">ID</td>
          <td class="text-left">{{nivel._id}}</td>
        </tr>
        <tr>
          <td class="text-left">Sigla</td>
          <td class="text-left">{{nivel.sigla}}</td>
        </tr>
        <tr>
          <td class="text-left">Tipo de nivel </td>
          <td class="text-left">{{nivel.tipo_nivel}}</td>
        </tr>
        <tr>
          <td class="text-left">Descripción</td>
          <td class="text-left">{{nivel.descripcion}}</td>
        </tr>
        <tr>
          <td class="text-left">Decreto</td>
          <td class="text-left">{{nivel.decreto}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-6 col-md-2"></div>




</div>