<div class="col-sm-offset-2 col-sm-10">
  <button type="button " class="btn btn-primary" routerLink="crear">Crear Organizacion</button>
</div>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Rbd</th>
      <th scope="col">Nombre</th>
      <th scope="col">Detalles</th>
      <th scope="col">Editar/Eliminar</th>
    </tr>
  </thead>
  
  <tbody *ngIf="organizaciones" [@animation]="organizaciones.organizacion.length">
    <tr *ngFor="let organizacion of organizaciones.organizacion; let i = index">
      <th scope="row">{{ organizacion.rbd }}</th>
      <td>{{ organizacion.nombre }}</td>
      <td><button type="button" class="btn btn-primary" routerLink="/organizacion/{{organizacion._id}}"> <i class="fas fa-info-circle"></i> Ver Detalles  </button></td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/organizacion/{{organizacion._id}}/editar"> <i class="fas fa-edit"></i></button> /
        <button type="button" class="btn btn-primary" (click)="deleteOrganizacion(organizacion._id, i)"> <i class="fas fa-trash-alt"></i></button>
    </tr>
  </tbody>
</table>