<a routerLink="cursos/crear">
  <button type="button" class="btn btn-primary">crear-curso</button>
</a>
<div *ngIf="curso">
  <table class="table table-hover">
    <thead>
      <tr align="center">
        <th scope="col">#</th>
        <th scope="col">Curso</th>
        <th scope="col">Nivel</th>
        <th scope="col">Asignatura</th>
        <th scope="col">Detalles</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of curso.cursos" align="center">
        <th scope="row">1</th>
        <td>{{ curso.idCurso }}</td>
        <td>{{ curso.nivel }}</td>
        <td>{{ curso.asignatura }}</td>
        <th>
          <button type="button" class="btn btn-info" routerLink="cursos/{{ curso._id }}"><i class="fas fa-info-circle"></i> Ver detalle</button>
        </th>
        <td>
          <button type="button" class="btn btn-info" routerLink="cursos/{{ curso._id }}/editar"><i class="fas fa-edit"></i> editar </button>
          /
          <button type="button" class="btn btn-info" routerLink="" (click)="deleteCurso(curso._id)"><i class="fas fa-trash-alt"></i> Eliminar </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>