<!-- <div class="col-md-8 offset-md-2">
  <span class="anchor" id="formUserEdit"></span>
  <hr class="my-5">

 
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">User Information</h3>
    </div>
    <div class="card-block">
      <form class="form" role="form" autocomplete="off">
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Asignatura</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" value="Jane">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Last name</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" value="Bishop">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Email</label>
          <div class="col-lg-9">
            <input class="form-control" type="email" value="email@gmail.com">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Company</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Website</label>
          <div class="col-lg-9">
            <input class="form-control" type="url" value="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
          <div class="col-lg-9">
            <select id="user_time_zone" class="form-control" size="0">
              <option value="Hawaii">(GMT-10:00) Hawaii</option>
              <option value="Alaska">(GMT-09:00) Alaska</option>
              <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
              <option value="Arizona">(GMT-07:00) Arizona</option>
              <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
              <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
              <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
              <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Username</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" value="janeuser">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Password</label>
          <div class="col-lg-9">
            <input class="form-control" type="password" value="11111122333">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Confirm</label>
          <div class="col-lg-9">
            <input class="form-control" type="password" value="11111122333">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"></label>
          <div class="col-lg-9">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <input type="submit" class="btn btn-primary" value="Crear" [disabled]="!rForm.valid">
          </div>
        </div>
      </form>
    </div>
  </div>

</div> -->





<!-- <div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <div *ngIf="!idCurso; else forminfo">
      <div class="card-header">
        <h1>Crear Curso</h1>
        <hr>
        <div class="card-body">
          <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <div class="form-group">
              <label for="inputAsignatura">Asignatura</label>
              <input type="text" class="form-control" id="inputAsignatura" aria-describedby="asignaturaHelp" placeholder="Ingrese asignatura"
                formControlName="asignatura">
              <small id="asignaturaHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputSiglaCurso">Sigla Curso</label>
              <input type="text" class="form-control" id="inputSiglaCurso" aria-describedby="siglaCursoHelp" placeholder="Ingrese sigla"
                formControlName="idCurso">
              <small id="siglaCursoHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputNivel">Nivel</label>
              <input type="text" class="form-control" id="inputNivel" aria-describedby="nivelHelp" placeholder="Ingrese nivel" formControlName="nivel">
              <small id="nivelHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputProfesorJefe">Profesor Jefe</label>
              <input type="text" class="form-control" id="inputProfesorJefe" aria-describedby="emailHelp" placeholder="Ingrese profesor jefe"
                formControlName="profesorJefe">
              <small id="profesotJefeHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputSalaCurso">Sala del curso</label>
              <input type="text" class="form-control" id="inputSalaCurso" aria-describedby="salaCursoHelp" placeholder="Ingrese sala del curso"
                formControlName="salaCurso">
              <small id="salaCursoHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputTotalAlumnos">Total Alumnos</label>
              <input type="email" class="form-control" id="inputTotalAlumnos" aria-describedby="totalAlumnoslHelp" placeholder="Ingrese cantidad de alumnos"
                formControlName="totalAlumnos">
              <small id="totalAlumnoslHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Submit</button>
            <ng-template #forminfo>
              <div class="form-container">
                <div class="row comuns">
                  <h1> {{idCurso}} </h1>
                  <h1> {{ nivel }} </h1>
                </div>
              </div>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
</div> -->



<!-- <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Warning card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> -->
<!-- <div class="card">
  <ng-container>

  </ng-container>

</div>

<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <ng-container *ngFor="let curso of cursos">
      <div class="card-header">
        <h1>Crear Curso</h1>
        <hr>
        <div class="card-body">
          cosas {{cursos.nivel}}
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-6 col-md-2"></div>
</div> -->


<!-- <div class="card m-3">
  <div class="card-body">
    <form (submit)="addTask($event)">
      <div class="input-group">
          <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add A Task">
          <span class="input-group-addon">
              <button type="submit" class="btn btn-primary">
                  Add A task
                </button>
          </span>
      </div>
      </form>
  </div>
</div>

<table class="table text-center table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Title</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>
        <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
      </td>
      <td>{{ task.title }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteTask(task._id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
<div *ngIf="curso">
  <div *ngFor="let curso of curso.cursos">
    {{ curso.idCurso }} {{ curso.nivel }} {{ curso.asignatura }} {{ curso.profesorJefe }} {{ curso.salaCurso }} {{ curso.totalAlumnos
    }}
  </div>
</div>
<a routerLink="cursos/crear">
    <button type="button" class="btn btn-primary">crear-curso</button>
</a>
<div *ngIf="curso">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Curso</th>
        <th scope="col">Nivel</th>
        <th scope="col">Asignatura</th>
        <th scope="col">Detalle</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of curso.cursos">
        <th scope="row">1</th>
        <td>{{ curso.idCurso }}</td>
        <td>{{ curso.nivel }}</td>
        <td>{{ curso.asignatura }}</td>
        <th>
          <a routerLink="cursos/{{ curso._id }}">
              <button type="button" class="btn btn-info">Ver detalle</button>
          </a>
        </th>
        <td>
          <a routerLink="cursos/{{ curso._id }}/editar">
            <button type="button" class="btn btn-info">Modificar</button>
          </a>
          <a routerLink="">
            <button type="button" class="btn btn-info" (click)="deleteCurso(curso._id)">Eliminar</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <button type="button" class="btn btn-primary" routerLink="/organizacion/{{organizacion._id}}"> <i class="fas fa-info-circle"></i> Ver Detalles  </button> -->

<!-- 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table> -->