<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <div *ngIf="!idCurso; else forminfo">
      <div class="card-header">
        <h1>Crear Curso</h1>
        <hr>
        <div class="card-body">
          <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <div class="form-group">
              <label for="inputAsignatura">Asignatura</label>
              <input type="text" class="form-control" placeholder="Ingrese asignatura" formControlName="asignatura">
            </div>
            <div class="form-group">
              <label for="inputSiglaCurso">Sigla Curso</label>
              <input type="text" class="form-control" placeholder="Ingrese sigla" formControlName="idCurso">
            </div>
            <div class="form-group">
              <label for="inputNivel">Nivel</label>
              <input type="text" class="form-control" placeholder="Ingrese nivel" formControlName="nivel">
            </div>
            <div class="form-group">
              <label for="inputProfesorJefe">Profesor Jefe</label>
              <input type="text" class="form-control" placeholder="Ingrese profesor jefe" formControlName="profesorJefe">
            </div>
            <div class="form-group">
              <label for="inputSalaCurso">Sala del curso</label>
              <input type="text" class="form-control" placeholder="Ingrese sala del curso" formControlName="salaCurso">
            </div>
            <div class="form-group">
              <label for="inputTotalAlumnos">Total Alumnos</label>
              <input type="number" class="form-control" placeholder="Ingrese cantidad de alumnos" formControlName="totalAlumnos">
            </div>
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Crear</button>
            <!-- <ng-template #forminfo>
              <div class="form-container">
                <div class="row comuns">
                  <h1> {{idCurso}} </h1>
                  <h1> {{ nivel }} </h1>
                </div>
              </div>
            </ng-template> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
</div>