<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <div *ngIf="!idCurso; else forminfo">
      <div class="card-header">
        <h1>Crear Curso</h1>
        <hr>
        <div class="card-body">
          <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <div class="form-group">
              <label for="inputAsignatura">Asignatura</label>
              <input type="text" class="form-control" id="inputAsignatura" aria-describedby="asignaturaHelp" placeholder="Ingrese asignatura"
                formControlName="asignatura">
              <small id="asignaturaHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputSiglaCurso">Sigla Curso</label>
              <input type="text" class="form-control" id="inputSiglaCurso" aria-describedby="siglaCursoHelp" placeholder="Ingrese sigla"
                formControlName="idCurso">
              <small id="siglaCursoHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputNivel">Nivel</label>
              <input type="text" class="form-control" id="inputNivel" aria-describedby="nivelHelp" placeholder="Ingrese nivel" formControlName="nivel">
              <small id="nivelHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputProfesorJefe">Profesor Jefe</label>
              <input type="text" class="form-control" id="inputProfesorJefe" aria-describedby="emailHelp" placeholder="Ingrese profesor jefe"
                formControlName="profesorJefe">
              <small id="profesotJefeHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputSalaCurso">Sala del curso</label>
              <input type="text" class="form-control" id="inputSalaCurso" aria-describedby="salaCursoHelp" placeholder="Ingrese sala del curso"
                formControlName="salaCurso">
              <small id="salaCursoHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputTotalAlumnos">Total Alumnos</label>
              <input type="number" class="form-control" id="inputTotalAlumnos" aria-describedby="totalAlumnoslHelp" placeholder="Ingrese cantidad de alumnos"
                formControlName="totalAlumnos">
              <small id="totalAlumnoslHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Submit</button>
            <ng-template #forminfo>
              <div class="form-container">
                <div class="row comuns">
                  <h1> {{idCurso}} </h1>
                  <h1> {{ nivel }} </h1>
                </div>
              </div>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
</div>