
<div *ngIf="!nombre && organizacion; else forminfo">
  <form class="form-horizontal" [formGroup]="rForm" (ngSubmit)="updateOrganizacion(rForm.value)">  
      <div class="form-group">
          <label class="control-label col-sm-2">RBD</label>
          <div class="col-sm-10">
              <input class="form-control" type="number" [value]="organizacion.organizacion.rbd" formControlName="rbd">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Nombre</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.nombre" formControlName="nombre">
              <br>
              <div class="alert alert-danger" role="alert" *ngIf="!rForm.controls['nombre'].valid && !rForm.controls['nombre'].touched">
                  Este campo es requerido
              </div>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Descripcion</label>
          <div class="col-sm-10">    
              <textarea class="form-control" [value]="organizacion.organizacion.descripcion" formControlName="descripcion"></textarea>
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Reconocimiento Oficial</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.reconocimientoOficial" formControlName="reconocimientoOficial">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Dependencia</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.dependencia" formControlName="dependencia">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Sostenedor</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.sostenedor" formControlName="sostenedor">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Orientacion Religiosa</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.orientacionReligiosa" formControlName="orientacionReligiosa">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Correo</label>
          <div class="col-sm-10">
              <input class="form-control" type="email" [value]="organizacion.organizacion.correo" formControlName="correo">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Telefono</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.telefono" formControlName="telefono">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Pagina Web</label>
          <div class="col-sm-10">
              <input class="form-control" type="url" [value]="organizacion.organizacion.web" formControlName="web">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Director</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.director" formControlName="director">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Mensualidad</label>
          <div class="col-sm-10">
              <input class="form-control" type="number" [value]="organizacion.organizacion.mensualidad" formControlName="mensualidad">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Numero de vacantes</label>
          <div class="col-sm-10">
              <input class="form-control" type="number" [value]="organizacion.organizacion.numVacantes" formControlName="numVacantes">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Total de alumnos Matriculados</label>
              <div class="col-sm-10">
              <input class="form-control" type="number" [value]="organizacion.organizacion.totalAlumnosMatriculados" formControlName="totalAlumnosMatriculados">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2">Promedio de alumnos por curso</label>
          <div class="col-sm-10">
              <input class="form-control" type="number" [value]="organizacion.organizacion.promAlumnosCurso" formControlName="promAlumnosCurso">
          </div>
      </div>        

      <div class="form-group">
          <label class="control-label col-sm-2">Puntaje Simce</label>
          <div class="col-sm-10">
              <input class="form-control" type="number" [value]="organizacion.organizacion.puntajeSimce" formControlName="puntajeSimce">
          </div>
      </div>      

      <!-- Campos donde se obtiene la direccion (calle, region, comuna) -->
      <h5>Direccion</h5>
      <div class="form-group">
          <label class="control-label col-sm-2">Calle</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.direccion.calle" formControlName="direccion.calle">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2">Region</label>
          <div class="col-sm-10">
              <input class="form-control" type="text"[value]="organizacion.organizacion.direccion.region" formControlName="direccion.region">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2">Comuna</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.direccion.comuna" formControlName="direccion.comuna">
          </div>
      </div>

      <!-- Se obtiene la fecha inicio/cierre postulacion -->
      <h5>Fecha Postulacion</h5>
      <div class="form-group">
          <label class="control-label col-sm-2">Inicio</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.fechaPostulacion.inicio" formControlName="fechaPostulacion.inicio">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2">Cierre</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" [value]="organizacion.organizacion.fechaPostulacion.cierre" formControlName="fechaPostulacion.cierre">
          </div>
      </div>
      <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" class="btn btn-primary" value="Aceptar" [disabled]="!rForm.valid">
          </div>
      </div>
  </form>
</div>

<!-- Este se ejecutará cuando se registre la nueva organizacion -->
<ng-template #forminfo>
  <div class="form-container">
      <h1>{{ mensaje }}</h1>
      <!-- <h1>{{ nombre }}</h1>

      <p>{{ descripcion }}</p> -->
  </div>
</ng-template>